* {
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
    background-color: black;
    padding: 8px 0;
}

header img {
    width: 60px;
}

header button {
    margin-top: 10px;
    display: flex;
    border: none;
    background-color: red;
    color: white;
    padding: 4px 20px;
    border-radius: 8px;
    margin-left: auto !important;
}

header i {
    padding: 5px 2px 0 0;
}

#particles-js {
    height: 85vh;
    background-color: black !important;
}

#particles-js .container {
    width: 100%;
    height: auto;
    display: flex;
    margin: 0 auto;
}

.main {
    position: absolute;
    height: auto !important;

}


.main img {
    width: 60%;
    display: flex;
    margin: 30px 0 0 auto;
}

.main button {
    background-color: red;
    padding: 4px 20px;
    border-radius: 20px;
    border: none;
    font-size: large;
    margin-left: 40px;
    display: flex;
    margin: auto 0 0 40%;
}

.main button a {
    color: white;
}

.main button:hover a {
    text-decoration: none;
}


@media screen and (max-width: 570px) {
    header img {
        width: 30px;
    }

    h3 {
        margin-top: 15px !important;
        font-size: 18px !important;
    }
}

@media screen and (max-width: 375px) {
    header img {
        width: 20px;
    }

    h3 {
        margin-top: 15px !important;
        font-size: 15px !important;
    }


    header button {
        margin-top: 10px;
        display: flex;
        border: none;
        background-color: red;
        color: white;
        padding: 2px 10px;
        border-radius: 8px;

    }

}

@media screen and (max-width: 1200px) {
    #particles-js {
        height: auto;
    }

    .main img {
        width: 60%;
        display: flex;
        margin: 50px 0 0 auto;
    }
}

@media screen and (max-width: 1068px) {
    #particles-js {
        height: 800px;
    }

    .main img {
        width: 80%;
        display: flex;
        margin: 50px 0 0 auto;
    }
}

@media screen and (max-width: 900px) {
    #particles-js {
        height: 700px;
    }

    .main img {
        display: none;
    }
}